/gradle/
/.gradle/
/gradlew
/gradlew.bat
/.project
kotlin/vaadin/.idea/.gitignore
kotlin/vaadin/.idea/checkstyle-idea.xml
kotlin/vaadin/.idea/compiler.xml
kotlin/vaadin/.idea/encodings.xml
kotlin/vaadin/.idea/google-java-format.xml
kotlin/vaadin/.idea/jarRepositories.xml
kotlin/vaadin/.idea/misc.xml
kotlin/vaadin/.idea/runConfigurations.xml
kotlin/vaadin/.idea/saveactions_settings.xml
kotlin/vaadin/.idea/vcs.xml
kotlin/vaadin/.idea/codeStyles/codeStyleConfig.xml
kotlin/vaadin/.idea/codeStyles/Project.xml
